:root {
  --font-poppins: "Poppins", sans-serif;
  --font-ibm: "IBM Plex Sans", sans-serif;

  --font-bold: 700;
  --font-semibold: 600;

  --primary: #2860a2;
  --dark: #0d1a3a;
  --white: white;
  --light: #fffdfa;
  --orange: #ff7b31;
  --granite: #19282f;

  --heading-1: min(58px, calc(9vw));
  --heading-2: min(48px, calc(13vw));
  --heading-3: min(40px, calc(7vw));
  --heading-4: min(34px, calc(6vw));
  --heading-5: min(20px, calc(5vw));
  --heading-6: min(18px, calc(4vw));

  --border-radius: 16px;

  --padding: 36px;
  --padding-tablet: 24px;
  --padding-mobile: 12px;

  --test-heading: calc(4vw + 2vmin);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--dark);
}

body {
  font-family: var(--font-poppins);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-size-3 {
  font-size: var(--heading-3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
  }
}

.font-bold {
  font-weight: var(--font-bold);
}

.upperline {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: var(--primary);
}

.primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-small-col {
  flex-direction: row;
}

.flex-col-small-row {
  flex-direction: column;
}

@media (min-width: 768px) {
  .flex-row-small-col {
    flex-direction: column;
  }

  .flex-col-small-row {
    flex-direction: row;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.separator {
  content: " ";
  width: 100%;
}

button {
  font-size: 28px;
  font-weight: var(--font-bold);
  line-height: normal;
  padding: 14px 32px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: var(--font-ibm);

  &.primary {
    font-size: var(--heading-5);
    background-color: var(--primary);
    border: 0px;
    color: var(--white);
    border-radius: 38px;
  }

  &.dark {
    background-color: var(--dark);
    border: 0px;
    color: var(--white);
  }

  &.outline {
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-color: var(--white);
    border-radius: 38px;
    color: var(--white);
  }

  &.default {
    font-size: var(--heading-6);
  }
}

button:hover {
  transform: scale(1.02);
}

.arrow-link {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  & span {
    font-size: var(--heading-5);
  }

  & span:hover {
    text-decoration: underline;
    font-size: var(--heading-5);
  }
}

/* Hero */
.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/optimized/hero-800.jpg");

  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  position: relative;
  height: 100vh;

  & .hero-text-wrapper {
    position: absolute;
    top: var(--padding-mobile);
    left: var(--padding-mobile);
    right: var(--padding-mobile);
    color: var(--white);
    top: 30%;
    margin-left: auto;
    margin-right: auto;

    & .hero-text-top {
      font-size: var(--heading-2);
      font-weight: var(--font-bold);
      max-width: 90vw;
      margin-bottom: 40px;
      font-family: var(--font-poppins);
    }

    & .hero-text-bottom {
      font-size: var(--heading-4);
      font-weight: var(--font-semibold);
      margin-bottom: 22px;
      font-family: var(--font-ibm);
    }

    & button {
      display: inline-block;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    & .hero-text-wrapper {
      position: absolute;
      top: var(--padding-tablet);
      left: var(--padding-tablet);
      right: var(--padding-tablet);
      max-width: 1296px;
      top: 35%;
      & .hero-text {
        font-size: var(--heading-1);
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("images/optimized/hero-1200.jpg");
  }
}

@media (min-width: 1600px) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("images/optimized/hero-1600.jpg");
  }
}

@media (min-width: 2000px) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("images/hero.jpg");
  }
}

/* Navbar */
.navbar-wrapper {
  font-size: var(--heading-6);
  width: 100%;

  .navbar {
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease;
    padding: 16px;

    & a {
      color: var(--white);
      text-decoration: none;
    }

    & img {
      height: 45px;
    }
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    height: 0;
    background-color: var(--dark);
    text-align: right;
    gap: 16px;
    transform: scale(1, 0);
    transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: top;
  }

  .nav-links-mobile a {
    text-align: left;
    color: var(--white);
    text-decoration: none;
    font-size: var(--heading-6);
    padding-left: 16px;
  }

  & .nav-links {
    gap: 16px;
  }

  & .hamburger-menu {
    display: flex;
    align-content: center;
  }

  & picture {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  & .nav-link {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-wrapper {
    .navbar {
      flex-direction: row-reverse;
    }
  }

  .nav-links-mobile.open {
    transform: scale(1, 1);
    height: auto;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 24px 24px;
  }

  .navbar .nav-links {
    gap: 24px;
  }

  .navbar .nav-link {
    display: inline;
  }

  .navbar .hamburger-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar .nav-links {
    gap: calc(1vw + 40px);
  }
}

/* Delivering Quality */
.delivering-quality-wrapper {
  background-color: var(--light);
}

.delivering-quality {
  padding-top: 88px;
  padding-bottom: 88px;

  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 64px;

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    &:last-child {
      flex-direction: column-reverse;
    }

    & .image {
      display: flex;
      align-items: center;

      & img {
        object-fit: cover;
        border-radius: 18px;
        width: 100%;
        height: auto;
      }
    }

    & .description {
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 18px;
      max-width: 500px;

      & p.title {
        font-size: var(--heading-4);
        font-weight: var(--font-bold);
      }
      & p.body {
        font-size: var(--heading-6);
        font-family: var(--font-ibm);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .delivering-quality {
    padding-top: 220px;
    padding-bottom: 220px;

    padding-left: 32px;
    padding-right: 32px;

    gap: 88px;

    & .content {
      flex-direction: row;

      & .image {
        flex: 1;
        & img {
          min-height: 400px;
          max-height: min(500px, 28vw);
        }
      }

      & .description {
        flex: 1;
        max-width: none;
      }

      &:last-child {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .delivering-quality {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .delivering-quality {
    padding-left: max(120px, 10vw);
    padding-right: max(120px, 10vw);

    .content {
      gap: 5vw;
    }
  }
}

/* What We Do */
.what-we-do {
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  gap: 24px;

  & .image {
    display: none;
    flex: 2;

    & img {
      width: 100%;
      height: 100%;
      min-height: 900px;
      object-fit: cover;
    }
  }

  & .text {
    padding: 32px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;

    & p.big-title {
      color: var(--white);
      font-size: var(--heading-4);
      font-weight: var(--font-bold);
    }

    & div.points {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & p.subtitle {
        color: var(--orange);
        font-weight: var(--font-bold);
        font-size: var(--heading-5);
      }
      & p.description {
        color: var(--light);
        font-size: var(--heading-6);
      }
    }

    & .find-out-more span {
      font-size: var(--heading-5);
      color: var(--light);
    }
  }
}

@media only screen and (min-width: 768px) {
  .what-we-do {
    & .image {
      display: block;
    }

    & .text {
      padding-top: 64px;
      padding-bottom: 64px;
      padding-left: 32px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .what-we-do {
    & .text {
      padding-left: 120px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .what-we-do {
    & .text {
      padding-left: max(120px, 10vw);
      padding-right: max(120px, 3vw);
    }
  }
}

/* Our Approach */
.our-approach {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 16px;

  & p {
    color: var(--granite);
    text-align: center;
    font-size: var(--heading-4);
    font-weight: var(--font-bold);
  }
}

@media (min-width: 768px) {
  .our-approach {
    padding: 200px 32px;
    height: 600px;
  }
}

@media only screen and (min-width: 992px) {
  .our-approach {
    padding: 200px 300px;
    height: 300px;
  }
}

/* Who We Are */
.who-we-are {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;

  & .image {
    flex: 1;
    & img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }

  & .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    padding: 32px 16px;

    & p.big-title {
      color: var(--white);
      font-size: var(--heading-4);
      font-weight: var(--font-bold);
    }

    & div.points {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & p.subtitle {
        color: var(--orange);
        font-weight: var(--font-bold);
        font-size: var(--heading-5);
      }
      & p.description {
        color: var(--light);
        font-size: var(--heading-6);
      }
    }
    & .meet-the-team span {
      font-size: var(--heading-5);
      color: var(--light);
    }
  }
}

@media (min-width: 768px) {
  .who-we-are {
    gap: 24px;
    flex-direction: row;

    & .image {
      flex: 2;

      & img {
        height: 100%;
        min-height: 900px;
      }
    }
    & .text {
      padding-left: 24px;
      padding-right: 32px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .who-we-are {
    & .text {
      padding-right: 120px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .who-we-are {
    & .text {
      padding-left: max(120px, 3vw);
      padding-right: max(120px, 10vw);
    }
  }
}

/* Our Valued Clients */
.our-valued-clients {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 88px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 90px;

  & p {
    color: var(--granite);
    font-size: var(--heading-4);
    font-weight: var(--font-bold);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  background-color: var(--light);
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  padding-bottom: 180px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/*
.logos:hover .logos-slide {
  animation-play-state: paused;
}
*/

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* Hear From Our Clients */
.hear-from-our-clients {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px 16px;

  & .clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    font-size: var(--heading-6);

    & .client {
      display: flex;
      flex-direction: column;
      gap: 36px;
      flex: 1;

      & p.name {
        font-weight: var(--font-bold);
      }
    }
  }

  & .section-title {
    font-size: var(--heading-4);
    font-weight: var(--font-bold);
  }
}

@media only screen and (min-width: 768px) {
  .hear-from-our-clients {
    padding: 120px;
    padding-left: 32px;
    padding-right: 32px;
    & .clients {
      flex-direction: row;
      padding: 12px;
      gap: 180px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .hear-from-our-clients {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .hear-from-our-clients {
    padding-left: max(120px, 10vw);
    padding-right: max(120px, 10vw);
  }
}

/* Featured Projects */
.featured-projects {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: top;

  & .image {
    flex: 1;
    & img {
      width: 100%;
      height: 330px;
      object-fit: cover;
    }
  }

  & .text {
    padding: 16px;
    flex: 1;

    & .big-title {
      color: var(--orange);
      font-weight: var(--font-bold);
      font-size: var(--heading-4);
      font-family: var(--font-ibm);
    }

    & .description {
      color: var(--granite);
      font-weight: var(--font-bold);
      font-size: 40px;
      margin-bottom: 32px;
    }

    & .bullet-points {
      & span {
        font-size: var(--heading-5);
      }
    }

    & .arrows {
      display: flex;
      justify-content: end;
      gap: 8px;
      margin-top: 64px;
    }
  }
}

@media (min-width: 768px) {
  .featured-projects {
    flex-direction: row;
    & .image {
      flex: 2;
      & img {
        height: 100%;
        min-height: 700px;
      }
    }
    & .text {
      padding: 48px 24px;
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & .description {
      margin-bottom: 80px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .featured-projects {
    & .text {
      padding-right: 120px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .featured-projects {
    & .text {
      padding-left: max(120px, 3vw);
      padding-right: max(120px, 10vw);
    }
  }
}

/* Learn More */
.learn-more {
  background-color: var(--primary);
  color: var(--white);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  & p {
    font-size: var(--heading-4);
    font-weight: var(--font-bold);
  }
}

@media (min-width: 768px) {
  .learn-more {
    flex-direction: row;
    height: 600px;
    gap: 40px;
  }
}

/* Footer */
.footer {
  padding: 32px 16px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;

    & img {
      height: 24px;
    }

    & .title {
      font-weight: var(--font-bold);
    }

    & .point {
      display: flex;
      flex-direction: row;
      gap: 8px;
      font-size: 16px;

      & img {
        height: 24px;
        width: 24px;
      }
    }
  }

  & .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .social-media {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
    margin-top: 64px;
  }

  & .links {
    display: flex;
    flex-direction: row;
    gap: 16px;

    & div:hover {
      text-decoration: underline;
    }

    & div:not(:last-child) {
      display: none;
    }
  }

  & .footer-logos {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 16px;

    & img {
      height: 41px;
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 100px 32px;
    flex-direction: column;

    & .footer-section {
      flex-direction: row;
      display: flex;
      align-items: baseline;
    }

    & .links {
      & div:not(:last-child) {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    padding-left: 120px;
    padding-right: 120px;

    & .text {
      padding-right: 120px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding-left: max(120px, 10vw);
    padding-right: max(120px, 10vw);

    & .text {
      padding-right: max(120px, 10vw);
    }
  }
}

/* Our Services Page */
.our-services-section {
  background-color: var(--light);
  display: flex;
  flex-direction: column;

  & .image {
    flex: 1;
    & img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }

  & .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    padding: 32px 16px;

    & p.big-title {
      font-size: var(--heading-4);
      font-weight: var(--font-bold);
    }

    & div.points {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & p.description {
        font-size: var(--heading-6);
      }
    }
    & .read-more span {
      font-size: var(--heading-5);
    }
  }
}

.our-services-section.dark {
  background-color: var(--dark);
  & .text {
    & p.big-title {
      color: var(--light);
    }

    & div.points {
      & p.description {
        color: var(--light);
      }
    }
    & .read-more span {
      color: var(--light);
    }
  }
}

@media (min-width: 768px) {
  .our-services-section {
    gap: 24px;
    flex-direction: row;

    & .image {
      & img {
        height: 100%;
        min-height: 900px;
      }
    }
    & .text {
      padding-left: 24px;
      padding-right: 32px;
    }
  }

  .our-services-section.flex-reverse {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 992px) {
  .our-services-section {
    & .text {
      padding-right: 120px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .our-services-section {
    & .text {
      padding-left: max(120px, 3vw);
      padding-right: max(120px, 10vw);
    }
  }
}

/* our services subsection */
.our-services-subsection {
  background-color: var(--light);

  & .breadcrumb {
    height: 200px;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 32px;

    & .crumb {
      font-family: var(--font-ibm);
      font-size: var(--heading-6);
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        height: 16px;
      }
    }

    & .title {
      font-weight: var(--font-bold);
      font-size: var(--heading-4);
    }
  }

  & .image {
    flex: 1;
    & img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }

  & .main-text {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    & .subtitle {
      font-weight: var(--font-bold);
      font-size: var(--heading-4);
    }

    & .description {
      font-size: 16px;
    }
  }

  & .points {
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    & .subtitle {
      font-weight: var(--font-bold);
      font-size: var(--heading-4);
    }

    & .point {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & .title {
        font-size: 20px;
        font-weight: var(--font-bold);

        display: flex;
        flex-direction: row;
        gap: 12px;
      }

      & .content {
      }
    }
  }

  & .other-services {
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .title {
      font-weight: var(--font-bold);
      font-size: var(--heading-4);
    }

    & .services {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & .image-container {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;

        & img {
          width: 100%;
          border-radius: 18px;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        & .overlay-content {
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 100%;

          & p {
            font-weight: var(--font-bold);
            font-size: 20px;
          }
        }
      }

      & .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.45);
        z-index: 1;
        border-radius: 18px;
      }

      & .overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: 2;
      }
    }
  }
}
