<div class="footer">
  <div class="footer-section">
    <div>
      <img src="images/logo.svg" />
    </div>
    <div class="contact">
      <div class="title">Contact</div>
      <div class="point">
        <img src="images/location-marker.svg" />
        <p>40A Invergarry Road,  Taupō 3330, New Zealand</p>
      </div>
      <div class="point">
        <img src="images/mail.svg" />
        <p>enquiries@apexcivil.co.nz</p>
      </div>
      <div class="point">
        <img src="images/phone.svg" />
        <p>0800 273 924</p>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="social-media">
      <img src="images/fb-logo.svg" />
      <img src="images/linkedin-logo.svg" />
    </div>
  </div>
  <div class="footer-section">
    <div class="links">
      <div>Our Services</div>
      <div>Key Projects</div>
      <div>Our Team</div>
      <div>Contact Us</div>
    </div>
    <div class="footer-logos">
      <img src="images/sitewise.png" />
      <img src="images/prequal.png" />
    </div>
  </div>
</div>
