{% extends 'base.html' %}

	{% block hero %}
	<div class="hero-our-services">
		<!-- navbar -->
		{% include 'navbar.html' %}
	</div>
	{% endblock %}

	{% block body %}
	<!-- civil construction -->
	<div class="key-projects">
		<div class="cards">

			<div class="card">
				<div class="title">Tarawera Landing</div>
				<div class="details">
					<div class="point">
						<span>Service:</span>
						<span>Project management, civil engineering</span>
					</div>
					<div class="point">
						<span>Location:</span>
						<span>Hamilton</span>
					</div>
				</div>
				<div class="description">
					Apex Civil in a joint venture with company name, constructed the new Hamilton Bridge
				</div>
			</div>

			<div class="card">
				<div class="title">Tarawera Landing</div>
				<div class="details">
					<div class="point">
						<span>Service:</span>
						<span>Project management, civil engineering</span>
					</div>
					<div class="point">
						<span>Location:</span>
						<span>Hamilton</span>
					</div>
				</div>
				<div class="description">
					Apex Civil in a joint venture with company name, constructed the new Hamilton Bridge
				</div>
			</div>

			<div class="card">
				<div class="title">Tarawera Landing</div>
				<div class="details">
					<div class="point">
						<span>Service:</span>
						<span>Project management, civil engineering</span>
					</div>
					<div class="point">
						<span>Location:</span>
						<span>Hamilton</span>
					</div>
				</div>
				<div class="description">
					Apex Civil in a joint venture with company name, constructed the new Hamilton Bridge
				</div>
			</div>

		</div>
	</div>
	{% endblock %}
