{% extends 'base.html' %}

	{% block hero %}
	<div class="hero-our-services">
		<!-- navbar -->
		{% include 'navbar.html' %}
	</div>
	{% endblock %}

	{% block body %}

	<div class="key-project-details">
		<div class="breadcrumb">
			<div class="crumb">
				<div>HOME</div>
				<div> <img src="images/chevron-right.svg" /></div>
				<div style="font-weight: 500">KEY PROJECTS</div>
			</div>
			<div class="title">{{ data.project.title }}</div>
		</div>

		<!-- header image -->
		<div class="header-img">
			<img src="{{ data.project.image }}" />
		</div>

		<div class="content">
			<!-- location client services -->
			<div class="points">
				<div>
					<div class="point-header"> LOCATION </div>
					<div class="point-details"> {{ data.project.location }} </div>
				</div>

				<div>
					<div class="point-header"> CLIENT </div>
					<div class="point-details"> {{ data.project.client }} </div>
				</div>


				<div>
					<div class="point-header"> SERVICES </div>
					<div class="point-details"> {{ data.project.service }} </div>
				</div>
			</div>

			<!-- more details -->
			<div class="more-details">
				<div> {{ data.project.more_details }} </div>
			</div>

			<!-- image -->
			<div class="project-image"> 
				<img src="{{ data.project.image }}" />
			</div>

			<!-- you might also like -->
			<div class="you-might-also-like">
				<p>You might also like...</p>
			</div>

			<div class="cards">

				{% for item in data.other_projects %}

				<div class="card">
					<img class="card-image" src="{{ item.image }}">
					<div class="card-body">
						<div class="card-content">
							<div class="title">{{ item.title }}</div>
							<div class="details">
								<div class="point">
									<span>Service:</span>
									<span>{{ item.service }}</span>
								</div>
								<div class="point">
									<span>Location:</span>
									<span>{{ item.location }}</span>
								</div>
							</div>
							<div class="description">
								{{ item.details }}
							</div>
						</div>
						<a href="{{ item.html }}" class="bullet-points arrow-link">
							<p><img src="images/arrow.svg" /> <span>Read more</span></p>
						</a>
					</div>
				</div>

				{% endfor %}

			</div>


		</div>
	</div>


	{% endblock %}
