{% extends 'base.html' %}

	{% block hero %}
	<div class="hero-our-services">
		<!-- navbar -->
		{% include 'navbar.html' %}
	</div>
	{% endblock %}

	{% block body %}
	<!-- civil construction -->
	<div class="key-projects">
		<div class="cards">

			{% for item in data %}

			<div class="card">
				<img class="card-image" src="{{ item.image }}">
				<div class="card-body">
					<div class="content">
						<div class="title">{{ item.title }}</div>
						<div class="details">
							<div class="point">
								<span>Service:</span>
								<span>{{ item.service }}</span>
							</div>
							<div class="point">
								<span>Location:</span>
								<span>{{ item.location }}</span>
							</div>
						</div>
						<div class="description">
							{{ item.details }}
						</div>
					</div>
					<a class="bullet-points arrow-link" href="{{ item.html }}">
						<p><img src="images/arrow.svg" /> <span>Read more</span></p>
					</a>
				</div>
			</div>

			{% endfor %}

		</div>
	</div>
	{% endblock %}
