<div class="navbar-wrapper">
  <div class="navbar">
    <a href="/">
      <picture>
        <img src="images/logo.svg" alt="logo" />
      </picture>
    </a>
    <div class="flex nav-links">
      <a href="our-services.html" class="nav-link">Our Services</a>
      <a href="#" class="nav-link">Key Projects</a>
      <a href="#" class="nav-link">Our Team</a>
      <a href="#" class="nav-link">Contact Us</a>
      <a href="javascript:toggleNav();" class="hamburger-menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          style="width: 24px; height: 24px"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="nav-links-mobile">
    <a href="our-services.html">Our Services</a>
    <a href="#">Key Projects</a>
    <a href="#">Our Team</a>
    <a href="#">Contact Us</a>
  </div>
</div>
