{% extends 'base.html' %}

	{% block hero %}
	<div class="hero-our-services">
		<!-- navbar -->
		{% include 'navbar.html' %}
	</div>
	{% endblock %}

	{% block body %}
	<!-- civil construction -->
	<div class="our-services-section">
		<div class="image">
			<img src="images/our-services.jpg" />
		</div>
		<div class="text">
			<div class="wrapper">
				<p class="big-title">Civil construction</p>
				<div class="points">
					<p class="description">
						Our team is committed to delivering excellence with professionalism
						and integrity at every step. We specialise in managing high-quality
						civil projects across Taupō and surrounding areas, ensuring that
						every client’s vision is brought to life with precision and care.
					</p>
				</div>
				<a class="read-more arrow-link" href="civil-construction.html">
					<p>
						<img src="images/arrow.svg" />
						<span>Read more</span>
					</p>
				</a>
			</div>
		</div>
	</div>

	<!-- project management -->
	<div class="our-services-section dark flex-reverse">
		<div class="image">
			<img src="images/project-management.jpg" />
		</div>
		<div class="text">
			<div class="wrapper">
				<p class="big-title">Project management</p>
				<div class="points">
					<p class="description">
						We will manage your civil project with precision. We have managers
						with decorated and board experience in high profile and high-risk
						civil infrastructure project.
					</p>
				</div>
				<a class="read-more arrow-link" href="project-management.html" />
				<p>
					<img src="images/arrow.svg" />
					<span>Read more</span>
				</p>
			</div>
		</div>
	</div>

	<!-- land development -->
	<div class="our-services-section">
		<div class="image">
			<img src="images/land-development.jpg" />
		</div>
		<div class="text">
			<div class="wrapper">
				<p class="big-title">Land development</p>
				<div class="points">
					<p class="description">
						We specialise in the necessary expertise for all land development
						requirements.
					</p>
				</div>
				<a class="read-more arrow-link" href="land-development.html" />
				<p>
					<img src="images/arrow.svg" />
					<span>Read more</span>
				</p>
			</div>
		</div>
	</div>
	{% endblock %}
