{% extends 'base.html' %}

	{% block hero %}
	<div class="hero-our-services">
		<!-- navbar -->
		{% include 'navbar.html' %}
	</div>
	{% endblock %}

	{% block body %}
	<div class="our-services-subsection">
		<div class="breadcrumb">
			<div class="crumb">
				<div>HOME</div>
				<div> <img src="images/chevron-right.svg" /></div>
				<div style="font-weight: 500">OUR SERVICES</div>
			</div>
			<div class="title">Civil Construction</div>
		</div>
		<div class="left-right reversed-tablet">
			<div class="right image">
				<img src="images/our-services.jpg" />
			</div>
			<div class="left main-text">
				<div class="wrapper">
					<p class="title"> Where construction meets innovation </p>
					<p class="description">
						For every project we provide our clients with a comprehensive risk assessment, construction methodology and an inspection and testing plan. Whether small residential or large-scale commercial and industrial projects, our team has the expertise to safely construct your project with efficiency and accuracy.
					</p>
				</div>
			</div>
		</div>
		<div class="section">
			<p class="subtitle"> Our Civil Construction Services </p>
			<div class="points">
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Earthworks</p></div>
					<div class="content">Prepare your site for success with our experienced team and modern equipment. From large-scale site leveling to detailed earth shaping, we’ll ensure your project starts on solid ground.</div>
				</div>
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Drainage</p></div>
					<div class="content">Keep your project running smoothly with our stormwater and wastewater systems. Whether it’s subsoil drainage or potable water reticulation, we’ll manage the entire process with precision.</div>
				</div>
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Utility Installation</p></div>
					<div class="content">Let us handle the complex integration of underground utilities, ensuring your project is future-ready and meets all compliance standards.</div>
				</div>
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Pavement and Roading</p></div>
					<div class="content">Need durable, high-performing roads or pavements? We’ll deliver surfaces that are built to handle heavy use while keeping communities connected.</div>
				</div>
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Retaining Walls</p></div>
					<div class="content">We design and construct retaining walls, including gravity, MSE, cantilever, and anchored systems, ensuring structural stability for even the most challenging sites.</div>
				</div>
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Concrete and Streetscape</p></div>
					<div class="content">Enhance your project with our concrete solutions, from foundations to polished streetscapes that add value to urban developments.</div>
				</div>
				<div class="point">
					<div class="title"><img src="images/our-services-point.svg"> <p>Health and Safety</p></div>
					<div class="content">Your project’s safety is our top priority. We bring unmatched expertise to ensure every site operates to the highest industry standards.</div>
				</div>
			</div>
		</div>
		<div class="other-services section">
			<p class="title">Other Services</p>
			<div class="services">
				<div class="image-container">
					<img src="images/project-management.jpg" />
					<div class="dark-overlay"></div>
					<div class="overlay-content">
						<p>Project Management</p>
						<div>
							<button class="primary"
								onclick="window.location.href='project-management.html'"
							>View</button>
						</div>
					</div>
				</div>
				<div class="image-container">
					<img src="images/land-development.jpg" />
					<div class="dark-overlay"></div>
					<div class="overlay-content">
						<p>Land Development</p>
						<div>
							<button class="primary"
								onclick="window.location.href='land-development.html'"
							>View</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
